<%- include('partials/header.ejs') %>
<h1>Home</h1>
<p><%=startingContent%></p>

<%posts.forEach(function(post) {%>
   <h1><%=post.title%></h1>
   <p><%=post.content%></p>
<% console.log(post.title)});%>

<%- include('partials/footer.ejs') %>